---
import Layout from '../layouts/Layout.astro'
---
<Layout>
	<h1 class="text-4xl text-red-600">Home page de Dylan</h1>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, molestias.</p>
</Layout>