---
interface Props {
  title: string;
  description: string;
  image: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
const { image } = Astro.props;

import PricingCard from "./PricingCard.astro"

---

<section class="">
<div class="flex flex-col md:flex-row justify-evenly md:justify-center md:gap-28 items-center w-full px-4 mx-auto max-w-screen-xl lg:py-4 lg:px-6">
        <div class="max-w-96 text-center lg:mb-12 mb-8">
                <div class="flex justify-center">
                  <img width="96" height="96" src={image} alt="rocket-emji"/> 
                </div>
                <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{title}</h2>
                <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{description}</p>
            </div>
            <PricingCard></PricingCard>
            <slot></slot>
</div>
</section>