---
import { Image } from 'astro:assets';
import ReyesoftImage from '../img/reyesoft-isologotipo-white.png'
import SaldoImage from '../img/saldo-logo-white.png'
import BookhapImage from '../img/bookhap-logo-white.png'

---

<section class="bg-white dark:bg-gray-900">
    <div class="pb-12 md:pt-8 lg:py-12 mx-auto max-w-screen-xl px-4">
        <div class=" flex flex-col md:flex-row justify-center gap-8 text-gray-500 sm:gap-12 dark:text-gray-400">
            <a href="https://reyesoft.com/" target="_blank" class="flex justify-center items-center">
                <Image src={ReyesoftImage} class="h-10 md:h-20 w-auto opacity-75 hover:opacity-100 transition-opacity" alt="logo-reyesoft" /> 
            </a>
            <a href="https://saldo.com.ar/" target="_blank" class="flex justify-center items-center">
                <Image src={SaldoImage} class="h-8 md:h-12 w-auto opacity-75 hover:opacity-100 transition-opacity" alt="logo-reyesoft" />          
            </a>
            <a href="https://bookhap.com/" target="_blank" class="flex justify-center items-center">
                <Image src={BookhapImage} class="h-8 md:h-12 w-auto opacity-75 hover:opacity-100 transition-opacity" alt="logo-reyesoft" />          
            </a>     
        </div>
    </div>
</section>