---
import ArticleTrailer from "./micro-comp/ArticleTrailer.astro"
---

<section>
<div class="flex mt-20 md:my-20 flex-wrap justify-center w-full pb-12 px-4 mx-auto max-w-screen-xl lg:py-4 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
                <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Artículos</h2>
                <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Lecturas sobre liderazgo, productividad, marketing y más.</p>
            </div> 
        <ArticleTrailer/>
</div>
</section>