---
import ArticleTrailer from "./micro-comp/ArticleTrailer.astro"
---

<section>
    <div class="w-full pb-12 px-4 mx-auto max-w-screen-xl lg:py-4 lg:px-6">
            <ArticleTrailer/>
    </div>
  </section>