<div class="flex justify-center items-center gap-x-5 sm:gap-x-10 w-full px-5">
        <div class="flex gap-2 flex-col items-center justify-center text-center text-blue-600 dark:text-blue-500 rtl:space-x-reverse">
                <span class="flex w-full items-center justify-center size-auto p-2 border border-blue-600 rounded-full shrink-0 dark:border-blue-500 text-sm">
                    2024
                </span>
            <span>
                <h3 class="font-s text-sm leading-tight">Team Leader</h3>
                <p class="text-sm">Reyesoft</p>
            </span>
        </div>
        <div class="flex gap-2 flex-col items-center justify-center text-center text-gray-500 dark:text-gray-400 rtl:space-x-reverse">
            <span class="flex w-full items-center justify-center size-auto p-2 border border-gray-500 rounded-full shrink-0 dark:border-gray-400 text-sm">
                2022
            </span>
            <div class="items-center">
                <h3 class="block font-medium text-sm leading-tight">Web Designer</h3>
                <p class="text-sm">Reyesoft</p>
            </div>
        </div>
        <div class="flex gap-2 flex-col items-center justify-center text-center text-gray-500 dark:text-gray-400 rtl:space-x-reverse">
            <span class="flex w-full items-center justify-center size-auto p-2 border border-gray-500 rounded-full shrink-0 dark:border-gray-400 text-sm">
                2021
            </span>
            <span>
                <h3 class="font-medium text-sm leading-tight">Client Support</h3>
                <p class="text-sm">Saldoar</p>
            </span>
        </div>
</div>


