---
import Avatar from './micro-comp/Avatar.astro'
import HeaderButton from '../components/micro-comp/HeaderButton.astro'
---

<footer class=" w-full p-4 md:p-8 lg:p-10">
    <div class="mx-auto max-w-screen-xl text-center">
        <Avatar/>
        <p class="my-6 text-gray-500 dark:text-gray-400">+3 años vinculado al marketing de contenidos, diseño UX/UI y desarrollo web.</p>
            <div class="my-5 flex justify-center flex-col font-medium md:p-0 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:border-0">
                <HeaderButton title='Inicio' url='/'/>
                <HeaderButton title='Artículos' url='/articulos' />
                <HeaderButton title='Cursos' url='/cursos' />
                <HeaderButton title='Proyectos' url='/proyectos'/>
                <HeaderButton title='CV' url='./cv' />
            </div>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024. Hecho por mí, con ayuda de Flowbite™</span>
    </div>
</footer>