---
interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;

import BTNVentas from './micro-comp/BTNVentas.astro';


---

<section class="sm:my-40 my-20 mx-5 flex flex-col items-center">
  <span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-1 rounded dark:bg-green-900 dark:text-green-300">¡Quedan solo 2 cupos disponibles!</span>
  <h1 class="max-w-[60rem] text-center m-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{title}</h1>
  <p class="max-w-4xl text-center mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">{description}</p>
  <div class="inline-flex items-center justify-center">
    <BTNVentas></BTNVentas>
  </div>
</section>
