---
import Card from "./micro-comp/Card.astro";


---
<section class="dark:bg-gray-900 sm:py-20 py-20 mt-20" >
    <Card title="Lleva tu negocio al próximo nivel con este plan exclusivo" description="Reserva un lugar en mi consultoría para llevar tu negocio al siguiente nivel, haciendo una inversión en el futuro de tu empresa hoy mismo." image="https://img.icons8.com/emoji/96/rocket-emji.png">
    </Card>
</section>

