---
import BTNVentas from "./micro-comp/BTNVentas.astro"
---

<section>
    <div class="py-16 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-3xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Solicita una prueba gratis de 30 días</h2>
            <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Para tú seguridad, trabajemos juntos un mes y luego hablamos del pago.</p>
            <BTNVentas></BTNVentas>
        </div>
    </div>
</section>