---
interface Props {
    title: string;
}

const { title } = Astro.props; 

import '../styles/Layout.css'
import '@fontsource-variable/inter';
import '../components/Header.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} | Dylan Batista</title>
    <link rel="icon" type="image/png+xml" href="/avatar.png" class="rounded-full" />  
</head>
<body class="bg-neutral-950">
    <div class="absolute top-0 z-[-2] size-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
    <Header/>
    <slot/>
    <Footer/>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</body>
</html>